<html>
  <head>
    <title>NGINX Consul - Lab</title>
  </head>
  <body>
    <h3>Services</h3>
    <ul>
      <li><a href="/somefoo">foo service</a></li>
      <li><a href="/somebar">bar service</a></li>
    </ul>
  </body>
</html>
